﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/css/fonts/pt-sans.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/fonts/pt-sans-narrow.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/fonts/pt-sans-caption.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/css/normalize.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/fonts/whhg.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/site.css")" rel="stylesheet" type="text/css" />

    @if (IsSectionDefined("CSSLinks")) { @RenderSection("CSSLinks") }    
</head>
<body>    
    <div id="header" class="row-fluid">
        <div class="navbar">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar btn-menu-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img class="site-brand" src="@Url.Content("~/Content/img/logo.gif")" alt="logo" width="95" height="30"/>                

                <div class="nav-collapse">
                    <ul class="nav menu-area"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid main-container">
        <div class="row-fluid content-container">
            <noscript>
                Включите Javascript
            </noscript>

            @RenderBody()
        </div>
    </div>

    <div id="footer" class="row-fluid">
    </div>    
        
    <script id="menu-area-template" type="text/x-jquery-tmpl">
        <li class="divider-vertical"></li>
        <li class="active">
            <a href="@Url.Action("Index", "Todo")">
                Todo-app
            </a>
        </li>
    </script>
    
    <script id="layout-message-template" type="text/x-jquery-tmpl">
        <div id="layout-message-box-${uuid}" class="layout-message-box">
            <div class="layout-message ${classes}">
                <div class="layout-message-text">
                    ${message}
                </div>
            </div>
        </div>
    </script>

    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Content/js/lib/polyfills/html5shiv.js")"></script>
        <script src="@Url.Content("~/Content/js/lib/polyfills/css3-mediaqueries.js")"></script>
    <![endif]-->
    
    <script src="@Url.Content("~/Content/js/lib/polyfills/classList.min.js")"></script>
    <script src="@Url.Content("~/Content/js/lib/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/lib/jquery/jquery-2.1.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/lib/jquery/jquery.param.fix.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/lib/jquery/jquery.tmpl.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/lib/bootstrap/bootstrap.min.js")" type="text/javascript"></script>    
    
    @RenderPage("Layout/Base.cshtml")    
    @RenderPage("Layout/Stuff.cshtml")
    @RenderPage("Layout/Extension.cshtml")
    @RenderPage("Layout/UI.cshtml")
    @RenderPage("Layout/External.cshtml")

    @if (IsSectionDefined("JSLinks")) { @RenderSection("JSLinks") }
    
    <script type="text/javascript">
        $(function () { Layout.run(); });
    </script>
</body>
</html>
