﻿@model dynamic

@{
    Layout = "~/Views/_Layout.cshtml";
}


@section CSSLinks 
{
    <link href="@Url.Content("~/Pages/Todo/[Views]/css/todo.css")" rel="stylesheet" type="text/css" />
}

@section JSLinks
{
    <script src="@Url.Content("~/Pages/Todo/[Views]/js/todo.js")" type="text/javascript"></script>

    <script type="text/javascript">
        TD.urls = {
            getData: '@Url.Action("GetData", "Todo")',
            save: '@Url.Action("Save", "Todo")',
            check: '@Url.Action("Check", "Todo")',
            uncheck: '@Url.Action("Uncheck", "Todo")'
        };
    </script>
}

<div class="td-view-main">
</div>

<script id="td-view-main-template" type="text/x-jquery-tmpl">
    <div id="${_renderObj.uuid()}" class="td-view-main">        
        <h2 class="td-page-title">Тестовое задание — список задач</h2>

        {{tmpl(TD.views.main.todoList) '#td-view-todo-list-template'}}
    </div>
</script>

<script id="td-view-todo-list-template" type="text/x-jquery-tmpl">
    <div id="${_renderObj.uuid()}" class="td-view-todo-list">
        <div class="td-todo-list-action-bar">
            {{tmpl(TD.views.main.todoList.search) '#td-view-search-template'}}
            {{tmpl(TD.views.main.todoList.newItem) '#td-view-new-item-template'}}
        </div>

        {{if !TD.model.dataReady}}
            <div class="td-todo-list-data-load-status">
                {{if TD.model.dataReceiveFailed}}
                    Ошибка получения данных
                {{else}}
                    Загрузка...
                {{/if}}
            </div>
        {{else}}
            <ul class="td-todo-list-items-container">
                {{each(indexUUID, item) TD.model.items}}                
                    {{tmpl(TD.views.main.todoList.getItemView(item.id())) '#td-view-item-template'}}
                {{/each}}
            </ul>
        {{/if}}
    </div>
</script>

<script id="td-view-item-template" type="text/x-jquery-tmpl">
    <li id="${_renderObj.uuid()}" class="td-view-item {{if _renderObj.item().done()}}td-item-done{{/if}} {{if _renderObj.processing()}}td-item-processing{{/if}}" data-id="${_renderObj.item().id()}">
        <div class="td-item-checkbox-container">
            <i class="td-item-checkbox {{if _renderObj.item().done()}}icon-check{{else}}{{/if}}"></i>
        </div>
        <div class="td-item-content">
            <div class="td-item-description">
                ${_renderObj.item().description()}
            </div>
            <div class="td-item-date">
                {{if _renderObj.item().done()}}
                    ${_renderObj.item().finishTime().format('DD.MM.YYYY HH:mm')}
                {{else}}
                    ${_renderObj.item().dueTime().format('DD.MM.YYYY HH:mm')}
                {{/if}}
            </div>
        </div>
    </li>
</script>

<script id="td-view-search-template" type="text/x-jquery-tmpl">
    <div id="${_renderObj.uuid()}" class="td-view-search">
        <i class="td-icon-search icon-search"></i>
        <input type="text" value="${_renderObj.value()}"/>
    </div>
</script>

<script id="td-view-new-item-template" type="text/x-jquery-tmpl">
    <div id="${_renderObj.uuid()}" class="td-view-new-item">
        <div class="td-new-item-open-dialog-button">
            <i class="td-icon-plus icon-plus"></i>        
        </div>
    </div>
</script>