﻿/*  Page layout
    ======================================= */
html {
    }
    body {
        }
        .main-container {
            font-size: 10px;
            }
    
/*  Page application
    ======================================= */
.em-view-main {        
    }
    .em-page-title {
        margin: 0;
        padding-bottom: 10px;
        }
    