﻿/*  Page layout
    ======================================= */
html {
    }
    body {
        }
        .main-container {
            font-size: 10px;
            }
    
/*  Page application
    ======================================= */
.td-view-main {
    width: 600px;
    margin: 0 auto;
    padding-top: 20px;
    
    font-size: 14px;
    cursor: default;
    }
    .td-page-title {
        margin: 0;
        padding-bottom: 12px;
        }
    .td-view-todo-list {
        max-height: 600px;
        width: 100%;
        }
        .td-todo-list-action-bar {
            height: 30px;
            padding: 10px 15px;
            
            background: rgb(191, 191, 191);
            border-radius: 1px;
            box-shadow: 0 4px 0 -2px rgba(126, 126, 126, 1);
            }
            .td-view-search {
                float: left;
                position: relative;
                
                height: 30px;
                width: 350px;
                }
                .td-view-search .td-icon-search {
                    position: absolute;
                    top: 50%;
                    left: 6px;
                    margin-top: -7px;

                    font-size: 21px;
                    }
                .td-view-search input {
                    display: inline-block;
                    height: 30px;
                    width: 100%;

                    padding-left: 30px;
                    
                    background: rgba(221, 221, 221);
                    border-radius: 5px;
                    box-shadow: none;
                    
                    -moz-box-sizing: border-box;
                         box-sizing: border-box;
                    }
                .td-view-search input:focus {
                    background: white;
                    }
            .td-view-new-item {
                float: right;
                position: relative;

                height: 30px;                
                }
                .td-new-item-open-dialog-button {
                    position: relative;
                    height: 100%;
                    width: 36px;
                    
                    font-size: 16px;
                    
                    -webkit-user-select: none;
                       -moz-user-select: none;
                            user-select: none;
                    }
                .td-new-item-open-dialog-button:hover {
                    cursor: pointer;
                    background: rgba(255, 255, 255, .5);
                    box-shadow: 0 3px 0 -1px rgba(0,0,0,.5);
                    }
                .td-new-item-open-dialog-button:active {
                    top: 2px;
                    height: 29px;
                    
                    box-shadow: 0 -2px 0 1px rgba(0, 0, 0, .5);
                    }
                    .td-view-new-item .td-icon-plus {
                        position: absolute;
                        top: 50%;
                        right: 50%;
                        margin-top: -7px;
                        margin-right: -8px;
                        }
        .td-todo-list-data-load-status {
            margin-top: 20px;
            font-size: 14px;
            text-align: center;
            }
        ul.td-todo-list-items-container {
            margin: 20px 0 0 0;
            list-style: none;
            overflow: auto;
            }
            li.td-view-item {
                position: relative;
                min-height: 40px;
                padding: 10px 10px;  
                
                font-family: 'PTSansNarrow';
                }
            li.td-view-item.td-item-done {
                }
            li.td-view-item.td-item-processing {
                }
                li.td-view-item.td-item-processing:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    
                    left: 0;
                    right: 0;
                    }
                .td-item-checkbox-container {
                    float: left;
                    position: relative;
                    
                    width: 40px;
                    height: 40px;
                    }
                    .td-item-checkbox {
                        position: absolute;
                        left: 50%;
                        top: -1px;
                        
                        width: 16px;
                        height: 16px;                        
                        
                        margin-left: -13px;                        
                                                
                        border: 3px solid black;
                        border-radius: 3px;

                        color: #000;
                        font-size: 20px;
                        
                        opacity: .75;
                        }
                    .td-view-item.td-item-done .td-item-checkbox {
                        top: 2px;
                        margin-left: -13px;
                        border: none;
                        
                        font-size: 22px;
                        text-shadow: none;
                        }
                    .td-item-checkbox:hover {
                        opacity: 1;
                        cursor: pointer;
                        }
                    li.td-view-item.td-item-done .td-item-checkbox {
                        opacity: .75;
                        }
                    li.td-view-item.td-item-done .td-item-checkbox:hover {
                        opacity: 1;
                        }
                .td-item-content {
                    width: 100%;
                    margin-top: -5px;
                    padding-left: 40px;
                    
                    line-height: 1;
                    -moz-box-sizing: border-box;
                         box-sizing: border-box;
                    }
                    .td-item-description {
                        margin-bottom: 4px;
                        font-size: 24px;
                        line-height: 1;
                        }
                    li.td-view-item.td-item-done .td-item-description {
                        opacity: .5;
                        }
                    .td-item-date {
                        height: 20px;
                        line-height: 20px;
                        font-size: 16px;
                        }
                    li.td-view-item.td-item-done .td-item-date {
                        opacity: .5;
                        }
                li.td-view-item:after {
                    content: '';
                    display: block;
                    clear: both;
                    }
                    