﻿@model dynamic

@{
    Layout = "~/Views/_Layout.cshtml";
}

@section CSSLinks 
{
    <link href="@Url.Content("~/Pages/Empty/[Views]/css/empty.css")" rel="stylesheet" type="text/css" />    
}

@section JSLinks
{
    <script src="@Url.Content("~/Pages/Empty/[Views]/js/empty.js")" type="text/javascript"></script>

    <script type="text/javascript">
        EM.urls = { };
    </script>
}

<div class="em-view-main">
    <h2 class="em-page-title">Пустая страница</h2>    
</div>

<script id="em-view-main-template" type="text/x-jquery-tmpl">
    <div id="${_renderObj.uuid()}" class="em-view-main">
        <h2 class="em-page-title">Пустая страница</h2>
    </div>
</script>