﻿@font-face{ 
	font-family: 'PTSansNarrow';
    font-weight: normal;
    font-style: normal;
	src: url('/Content/fonts/PTSans/narrowregular/PTN57F-webfont.eot');
	src: url('/Content/fonts/PTSans/narrowregular/PTN57F-webfont.eot?iefix') format('eot'),
	     url('/Content/fonts/PTSans/narrowregular/PTN57F-webfont.woff') format('woff'),
	     url('/Content/fonts/PTSans/narrowregular/PTN57F-webfont.ttf') format('truetype'),
	     url('/Content/fonts/PTSans/narrowregular/PTN57F-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'PTSansNarrow';
    font-weight: bold;
    font-style: normal;
	src: url('/Content/fonts/PTSans/narrowbold/PTN77F-webfont.eot');
	src: url('/Content/fonts/PTSans/narrowbold/PTN77F-webfont.eot?iefix') format('eot'),
	     url('/Content/fonts/PTSans/narrowbold/PTN77F-webfont.woff') format('woff'),
	     url('/Content/fonts/PTSans/narrowbold/PTN77F-webfont.ttf') format('truetype'),
	     url('/Content/fonts/PTSans/narrowbold/PTN77F-webfont.svg#webfont') format('svg');
}