﻿@font-face{ 
	font-family: 'PTSans';
    font-weight: normal;
    font-style: normal;
	src: url('/Content/fonts/PTSans/regular/PTS55F-webfont.eot');
	src: url('/Content/fonts/PTSans/regular/PTS55F-webfont.eot?iefix') format('eot'),
	     url('/Content/fonts/PTSans/regular/PTS55F-webfont.woff') format('woff'),
	     url('/Content/fonts/PTSans/regular/PTS55F-webfont.ttf') format('truetype'),
	     url('/Content/fonts/PTSans/regular/PTS55F-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'PTSans';
    font-weight: bold;
    font-style: normal;
	src: url('/Content/fonts/PTSans/bold/PTS75F-webfont.eot');
	src: url('/Content/fonts/PTSans/bold/PTS75F-webfont.eot?iefix') format('eot'),
	     url('/Content/fonts/PTSans/bold/PTS75F-webfont.woff') format('woff'),
	     url('/Content/fonts/PTSans/bold/PTS75F-webfont.ttf') format('truetype'),
	     url('/Content/fonts/PTSans/bold/PTS75F-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'PTSans';
    font-weight: normal;
    font-style: italic;
	src: url('/Content/fonts/PTSans/italic/PTS56F-webfont.eot');
	src: url('/Content/fonts/PTSans/italic/PTS56F-webfont.eot?iefix') format('eot'),
	     url('/Content/fonts/PTSans/italic/PTS56F-webfont.woff') format('woff'),
	     url('/Content/fonts/PTSans/italic/PTS56F-webfont.ttf') format('truetype'),
	     url('/Content/fonts/PTSans/italic/PTS56F-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'PTSans';
    font-weight: bold;
    font-style: italic;
	src: url('/Content/fonts/PTSans/bolditalic/PTS76F-webfont.eot');
	src: url('/Content/fonts/PTSans/bolditalic/PTS76F-webfont.eot?iefix') format('eot'),
	     url('/Content/fonts/PTSans/bolditalic/PTS76F-webfont.woff') format('woff'),
	     url('/Content/fonts/PTSans/bolditalic/PTS76F-webfont.ttf') format('truetype'),
	     url('/Content/fonts/PTSans/bolditalic/PTS76F-webfont.svg#webfont') format('svg');
}