﻿@font-face{ 
	font-family: 'PTSansCaption';
    font-weight: normal;
	src: url('/Content/fonts/PTSans/captionregular/PTC55F-webfont.eot');
	src: url('/Content/fonts/PTSans/captionregular/PTC55F-webfont.eot?iefix') format('eot'),
	     url('/Content/fonts/PTSans/captionregular/PTC55F-webfont.woff') format('woff'),
	     url('/Content/fonts/PTSans/captionregular/PTC55F-webfont.ttf') format('truetype'),
	     url('/Content/fonts/PTSans/captionregular/PTC55F-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'PTSansCaption';
    font-weight: bold;
	src: url('/Content/fonts/PTSans/captionbold/PTC75F-webfont.eot');
	src: url('/Content/fonts/PTSans/captionbold/PTC75F-webfont.eot?iefix') format('eot'),
	     url('/Content/fonts/PTSans/captionbold/PTC75F-webfont.woff') format('woff'),
	     url('/Content/fonts/PTSans/captionbold/PTC75F-webfont.ttf') format('truetype'),
	     url('/Content/fonts/PTSans/captionbold/PTC75F-webfont.svg#webfont') format('svg');
}